@font-face {
  font-family: almarai;
  src: url(../src/fonts/Almarai-Regular.ttf);
}
*{
  font-family:'almarai';
}
body{
  background-color:#f7f7f7;
}
.rectangular{
  min-height:100px;
  background-color: #fff;
}
.red-bg{
  background-color:#9b1f2b;
  border-color:#9b1f2b;
}
.blue-bg{
  background-color:#1b7ba9;
  border-color:#1b7ba9;
}
img{
  width:60px;
  height:60px;
}
.date-section:last-of-type{
  border-bottom:none!important
}
